.area {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: var(--door-width-area);
	height: var(--door-heigth-area);
	margin: 5px;
}

.frame {
	display: flex;
	flex-direction: column-reverse;
	flex-grow: 1;
	border-left: 5px solid #000;
	border-top: 5px solid #000;
	border-right: 5px solid #000;
	background-color: #0005;
	width: 90%;
}

.door {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	background-color: #7f4f24;
	padding: 15px;
}

.number {
	font-size: 3rem;
}

.doorHandle {
	position: absolute;
	align-self: flex-start;
	top: calc(0.45 * var(--door-heigth-area));
	height: 20px;
	width: 20px;
	border-radius: 10px;
	background-color: silver;
}

.floor {
	height: 10px;
	width: 100%;
	background-color: wheat;
}

.selected {
	border-left: 5px solid #ffff3f;
	border-top: 5px solid #ffff3f;
	border-right: 5px solid #ffff3f;
}

.selected .number {
	color: #ffff3f;
}

.selected .doorHandle {
	background-color: #ffff3f;
}
